<!--Begin:: App Content-->
<div class="kt-grid__item kt-grid__item--fluid kt-app__content">
  <div class="row">
    <div class="col-xl-12">
      <div class="kt-portlet">
        <div class="kt-portlet__head">
          <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">Personal Information <small>add your personal information</small></h3>
          </div>
        </div>
        <form class="kt-form kt-form--label-right" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
          <div class="kt-portlet__body">
            <div class="kt-section kt-section--first">
              <div class="kt-section__body">
                <div *ngIf="hasErrors" class="alert alert-solid-danger alert-bold fade show kt-margin-t-20 kt-margin-b-40" role="alert">
                  <div class="alert-icon"><i class="fa fa-exclamation-triangle"></i></div>
                    <div class="alert-text">
                      <!-- Errors -->
                      <div *ngIf="errors.first_name">
                        {{ errors.first_name }}
                      </div>
                      <div *ngIf="errors.last_name">
                        {{ errors.last_name }}
                      </div>
                      <div *ngIf="errors.email">
                        {{ errors.email }}
                      </div>
                      <div *ngIf="errors.password">
                          {{ errors.password }}
                      </div>
                      <div *ngIf="errors.password_confirmation">
                          {{ errors.password_confirmation }}
                      </div>
                    </div>
                  <div class="alert-close">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true"><i class="la la-close"></i></span>
                    </button>
                  </div>
                </div>
                <div *ngIf="showAlert" class="alert alert-success" role="alert">
                  <div class="alert-icon"><i class="flaticon2-checkmark"></i></div>
                  <div class="alert-text">{{ alertString }}</div>
                </div>
                <div class="row">
                  <label class="col-xl-3"></label>
                  <div class="col-lg-9 col-xl-6">
                    <h3 class="kt-section__title kt-section__title-sm">Profile Info:</h3>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-xl-3 col-lg-3 col-form-label">Avatar</label>
                  <div class="col-lg-9 col-xl-6">
                    <div class="kt-avatar kt-avatar--outline" id="kt_user_avatar">
                      <div class="kt-avatar__holder" style="background-image: url(assets/media/users/300_25.jpg)"></div>
                      <label class="kt-avatar__upload" data-toggle="kt-tooltip" title="" data-original-title="Change avatar">
                        <i class="fa fa-pen"></i>
                        <input type="file" name="profile_avatar" accept=".png, .jpg, .jpeg">
                      </label>
                      <span class="kt-avatar__cancel" data-toggle="kt-tooltip" title="" data-original-title="Cancel avatar">
                        <i class="fa fa-times"></i>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-xl-3 col-lg-3 col-form-label">First Name</label>
                  <div class="col-lg-9 col-xl-6">
                    <input class="form-control" type="text" formControlName="first_name">
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-xl-3 col-lg-3 col-form-label">Last Name</label>
                  <div class="col-lg-9 col-xl-6">
                    <input class="form-control" type="text" formControlName="last_name">
                  </div>
                </div>
                <div class="row">
                  <label class="col-xl-3"></label>
                  <div class="col-lg-9 col-xl-6">
                    <h3 class="kt-section__title kt-section__title-sm">Contact Info:</h3>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-xl-3 col-lg-3 col-form-label">Email Address</label>
                  <div class="col-lg-9 col-xl-6">
                    <div class="input-group">
                      <div class="input-group-prepend"><span class="input-group-text"><i class="la la-at"></i></span></div>
                      <input type="text" class="form-control" placeholder="Enter email" aria-describedby="basic-addon1" formControlName="email">
                    </div>
                    <span class="form-text text-muted">We'll never share your email with anyone else.</span>
                  </div>
                </div>
                <div class="row">
                  <label class="col-xl-3"></label>
                  <div class="col-lg-9 col-xl-6">
                    <h3 class="kt-section__title kt-section__title-sm">Set Password:</h3>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-xl-3 col-lg-3 col-form-label">Password</label>
                  <div class="col-lg-9 col-xl-6">
                    <input class="form-control" type="password" formControlName="password">
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-xl-3 col-lg-3 col-form-label">Confirm Password</label>
                  <div class="col-lg-9 col-xl-6">
                    <input class="form-control" type="password" formControlName="password_confirmation">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="kt-portlet__foot">
            <div class="kt-form__actions">
              <div class="row">
                <div class="col-lg-3 col-xl-3">
                </div>
                <div class="col-lg-9 col-xl-9">
                  <button type="submit" class="btn btn-success">Submit</button>&nbsp;
                  <button type="reset" class="btn btn-secondary">Reset</button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!--End:: App Content-->
