.btn-remove-item {
  &.btn-sm {
    padding: 0.5rem 0.5rem;
  }
  i {
    margin-right: 0;
    color: white;
  }
}

.modal-title {
  margin-right: 10px;
}

.not-recommended {
  background: lightcoral;
}

