<div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">
  <!-- begin:: Content Head -->
  <div class="kt-subheader  kt-grid__item" id="kt_subheader">
    <div class="kt-container  kt-container--fluid ">

      <div class="kt-subheader__main">
        <h3 class="kt-subheader__title">Page Title</h3>
        <span class="kt-subheader__separator kt-subheader__separator--v"></span>
        <span class="kt-subheader__desc">Description</span>
      </div>

    </div>
  </div>
  <!-- end:: Content Head -->

  <!-- begin:: Content -->
  <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">

    <div class="row">
      <div class="col-xl-12">

        <div class="kt-portlet">
          <div class="kt-portlet__body">
            <h3>This is the page content</h3>
          </div>
        </div>

      </div>
    </div>

  </div>

</div>
