<div class="kt-portlet kt-portlet--mobile">
  <div class="kt-portlet__head kt-portlet__head--lg">
    <div class="kt-portlet__head-label">
      <span class="kt-portlet__head-icon">
        <i class="kt-font-brand flaticon2-line-chart"></i>
      </span>
      <h3 class="kt-portlet__head-title">
       Upload Chef data
      </h3>
    </div>
  </div>
  <div class="kt-portlet__body">
    <div class="form-group">
      <label>Chef Type</label>
      <div class="kt-radio-inline">
        <label class="kt-radio">
          <input type="radio" value="current_chef" [(ngModel)]="chef_type" name="chef_type"> Current Chef
          <span></span>
        </label>
        <label class="kt-radio">
          <input type="radio" name="chef_type" value="chef_to_screen" [(ngModel)]="chef_type"> Chef to Screen
          <span></span>
        </label>
      </div>
      <span class="form-text text-muted">Please select the type of chef that will be uploaded.</span>
    </div>

    <div class="form-group">
      <label>Upload</label>
      <div></div>
      <div class="custom-file">
        <input type="file"
             id="fileImportInput"
             class="custom-file-input"
             #fileImportInput
             (change)="fileChangeListener($event)"
             [disabled]="loading">
             <label class="custom-file-label" for="fileImportInput">Choose File</label>
      </div>
    </div>
    <div class="form-group" *ngIf="file">
      <button (click)="submitUpload()" type="button" [disabled]="loading" [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--sm kt-spinner--light': loading}" class="btn btn-brand btn-elevate">
        <i class="la la-cloud-upload"></i>
        <ng-container *ngIf="!loading">
          Upload
        </ng-container>
        <ng-container *ngIf="loading">
          Uploading...
        </ng-container>

      </button>
    </div>
  </div>
</div>
