/* You can add global styles to this file, and also import other style files */
@import "../node_modules/ag-grid-community/dist/styles/ag-grid.css";
@import "../node_modules/ag-grid-community/dist/styles/ag-theme-alpine.css";

.app-loading {
  .logo {
    width: 100px;
    height: 100px;

    // this way asset gets processed by webpack
    background: url(./assets/media/logos/logo-5.png) center center no-repeat;
  }
}

.ag-theme-alpine {
  .ag-row {
    .not-recommended {
      background: lightcoral;
    }

  }
}
